html {
   --white-font: #F5F2F2;
   --black-font: #5C5C5C;
}

body {
   height: 120vh;
   background-image: linear-gradient(-30deg, #7F4BD2, #408AF5, #3DB2EB, #64DFDF);
}

footer {
   background-color: var(--black-font);
}

footer a {
   color: var(--white-font);
   text-decoration: none;
}