html {
   --white-font: #F5F2F2;
   --black-background: #3F3F3F;
   --black-font: #5C5C5C;
}

body {
   height: 100vh;
   background-image: linear-gradient(-30deg, #7F4BD2, #408AF5, #3DB2EB, #64DFDF);
}


/* Navbar */
.navbar-toggler:focus {
   box-shadow: none;
   border-color: white;
}
/* /Navbar */

/* Main Content */
main {
   border-radius: .6rem;
   background: var(--white-font);
}

.form-label {
   width: 100px;
}
/* Main Content */

/* Footer */
footer {
   background-color: var(--black-background);
}

footer a {
   color: grey;
   text-decoration: none;
}

footer a:hover {
   color: var(--white-font);
}
/* /Footer */