html {
   --white-font: #F5F2F2;
   --black-background: #3F3F3F;
   --black-font: #5C5C5C;
   --gray-button: #DBD9D9;
}

body {
   background-image: linear-gradient(-42deg, #7F4BD2, #408AF5, #3DB2EB, #64DFDF);
   background-attachment: fixed;
   background-repeat: no-repeat;
}

h1 {
   color: var(--white-font);
   font-weight: bold;
}

/* Landing */
#landing-content {
   flex-direction: column;
   height: 100%;
   color: var(--white-font);
}

#landing-trial {
   margin: 0 auto 0 0;
   color: var(--white-font);
}

.btn-outline-light:hover,
.btn-outline-light:active {
   background-color: rgba(256, 256, 256, .2);
}

/* /Landing */


/* Main Content */
.wrapper {
   max-width: 1212px !important;
   padding-left: 1.5rem !important;
   padding-right: 1.5rem !important;
}

.btn.pt-3{
   width: 100%;
   border-radius: 0;
   border-top-left-radius: .6rem !important;
   border-top-right-radius: .6rem !important;
}

#x-rate-btn {
   background: var(--gray-button);
   border-bottom-left-radius: .9rem !important;
}

#cont-main {
   background: var(--white-font);
   border-bottom-left-radius: .6rem;
   border-bottom-right-radius: .6rem;
   margin-top: -.6rem;
   z-index: 2;
}

#converter {
   background: var(--gray-button);
}

/* Main Content */

/* Cards */
.cards {
   margin-top: 9rem;
}

.card {
   background: var(--white-font);
   border-radius: .9rem !important;
   height: 18rem;
}

/* /Cards */

/* App */
#app-module {
   margin-top: 15rem;
}

/* /App */

/* Footer */
footer {
   background-color: var(--black-background);
}

footer a {
   color: grey;
   text-decoration: none;
}

footer a:hover {
   color: var(--white-font);
}

/* /Footer */

/* Contact */
#my-modal-content {
   background-color: var(--white-font);
}

/* /Contact */